#cabrea.column.grid_12

  = render_partial 'partials/systems'

  .row
    .body.column.grid_9
      %h3 Cabrea
      %p Cabrea II is a former Terran world, captured, liberated, then reclaimed by the Kilrathi during the war. Since the end of the War it has become one of the prime worlds of the Kilrathi Commonwealth due to it's stability and strong Sihkag presence who make up the backbone of the Commonwealth. Proximity to the Terran systems also make it a valuable world for trade and tactical reasons.

      %h4 History
      %p Cabrea II, home of the famous Terran Liberation of 2669 during the Terran-Kilrathi war in which the human population was supposedly freed from the control of the Kilrathi. Due to the loss of the world, the Kilrathi would send a force of low ranked clans, particularly the Sihkag, to retake the world from the Terrans. Most of the Terran slaves had been evacuated during the month long liberation and by time the Kilrathi returned only limited numbers of humans remained behind to challenge the Kilrathi claim. Cabrea II once more fell to Kilrathi control prior to the end of the world, but as it was one of the few successes for the Sihkag clan, it would become a testament to them and would become one of their most prized world claims.

    .sidebar.column.grid_3
      %img{:src => '/images/vespus.jpg'}
      %table
        %tr
          %td.label
            Type:
          %td.data
            Temperate
        %tr
          %td.label
            Gravity:
          %td.data
            0.90 Earth gees
        %tr
          %td.label
            Mass:
          %td.data
            1.702 Earth masses
