#vespus.column.grid_12

  = render_partial 'partials/systems'

  .row
    .body.column.grid_9
      %h3 Cabrea System
      %p The Cabrea system is built around a single G4 V star, with nine planetoids. Cabrea II is the only inhabited planet in the system, and much of the other planets remain unexplored/unmapped beyond basic surveying.

      %h3 Cabrea II
      %p Cabrea II is a former Terran world, captured, liberated, then reclaimed by the Kilrathi during the war. Since the end of the War it has become one of the prime worlds of the Kilrathi Commonwealth due to it's stability and strong Sihkag presence who make up the backbone of the Commonwealth. Proximity to the Terran systems also make it a valuable world for trade and tactical reasons.
		
      %h4 History
      %p Originally settled by the Terran Confederation in the early exploration of the sector, Cabrea II never established itself as a dominant presence in the sector rather remaining a relatively quiet Mineral Resourcing outpost. The onset of the Kilrathi-Terran war however would change the significance of Cabrea II as the system would lay along a major route into the heart of Kilrathi space. Recognizing the significance of the world in a tactical sense the Kilrathi would seize the world in 2654.
      %p The Kilrathi Task Force which took the planet consisted primarily of Caxki forces and was seized both for the tactical presence but also the rich hunting grounds of the largely plains covered world. With numerous food sources from the wildlife (which the Terrans had sought to preserve) Cabrea II would become a food exporting world for the Kilrathi population and thus a prime world for the Sihkag clan which was tasked with supplying of food stuffs for the Empire. Thus many Sihkag migrated to Cabrea II under the management of the Caxki clan.
      %p The captured human population of slaves were put to work in tending the animal growth for the Kilrathi hunt and processing the ores that were mined. On the far side of the world a previous excavated shaft was discovered which was not established by either the Humans or the Kilrathi. This pre-excavated mine shaft was found to be rich in crystal and gemstone growths which were ideal for energy weapon and computer production for the Empire. One of these mine shafts would provide even further insight for the Kilrathi.
      %p A group of Ja'targk Priestesses would be called to interpret writings found in a shaft of the mine. Shortly after the shaft would be sealed, guarded by a pair of priestesses without explanation. The Caxki's who ran the world were far to suspicious of the Ja'targk actions however and it would lead to increased tensions on the world. 
      %p In 2669, the Terran Confederation would launch an offensive to retake Cabrea II. The world, recaptured by the Confederation was left largely untouched except the Terran slave camps which were under the overview of Caxki guards who slaughtered the humans brutally. These humans were not allowed to evacuate due to what they had seen, as the Confederation desired to keep the events quiet to prevent a loss of morale among the Terrans.
      %p Three years later in 2672, a task force consisting of Sihkag and Ja'targk forces would retake Cabrea II as it had been sparsely defended by the Terran Confederation. With the planet recaptured, the Sihkag took over as administrators of the planet and the Ja'targk presence was isolated to the temple built upon the world. 
      %p As the Terran-Kilrathi war ended, the destruction of many clan worlds and chaos that befell the empire had little impact on the world of Cabrea II. The Ja'targk had withdrawn from the world as the war drew to a close leaving it a Sihkag world, their prime world in fact. As the years passed several other clans began to have members drift to the world of Cabrea II, but the only fully clan to come and fully join the Sihkag were the Hhallas. The proximity to the Confederation worlds and the dissolving of the Empire left the clans of Cabrea II looking towards a future of co-existence with humanity and the world of Cabrea II would become the home world of the Kilrathi Commonwealth.


      %h4 Locations
      %p <strong>Traggil</strong> - The Kilrathi name for the capital city of Cabrea II, called 'Kil Claw' by some Terrans due to the way the city has grown and how it resembles in some eyes a Kilrathi claw print. The original Terran city consists of the large center market with the residences built up around it along with commercial sites. The Kilrathi have added to it over the following decades with an expanded starport, market district, and even a human district where human customs may be followed and carried out (the only location this is allowed). The rest of the city has two major areas for the primary clan holds of Sihkag and Hhallas. Another hold exists for the remaining clans that are not fully affiliated with the Commonwealth. A temple and government region exists for the functioning of the Commonwealth. Major mining, farming, and production facilities are located outside of the city proper.
      %p <strong>Western Mines</strong> - The Western Mines are on the far side of the planet from Traggil, a six week travel on foot for a Kilrathi. The Mines themselves have been found to have an abundance of gemstones and crystals which are ideal in the production of energy weapons and computer technology. There has also been some research into new energy drives being constructed from the high quality crystals. Due to this the mine remains active by all mining activities are very carefully done as not to destroy or damage the crystals.
      
    .sidebar.column.grid_3
      %img{:src => '/images/vespus.jpg'}
      -# TODO
      %table
        %tr
          %td.label Identifier:
          %td.data Cabrea II

        %tr
          %td.label
            Type:
          %td.data
            Terran
        %tr
          %td.label
            Gravity:
          %td.data
            1.03 Earth gees
        %tr
          %td.label
            Mass:
          %td.data
            1.702 Earth masses
            
