#home.column.grid_12

  .row
    .lead.column.grid_12
      %p Let your imagination run wild in our unique interactive storytelling universe.

  .row
    .events.column.grid_6
      %h1 Upcoming Events
      .listing.first
        .wrap.when
          %span.month NOV
          %span.date 23
        .wrap.details
          .title
            %h2 Grand Opening
          .excerpt
            %p= lorem.paragraph
      .listing
        .wrap.when
          %span.month NOV
          %span.date 28
        .wrap.details
          .title
            %h2 Red Horizon Alumni Meetup
          .excerpt
            %p= lorem.paragraph
      .listing.last
        .wrap.when
          %span.month DEC
          %span.date 03
        .wrap.details
          .title
            %h2 Phoenix Rising: Act 1
          .excerpt
            %p= lorem.paragraph
    .reports.column.grid_6
      %h1 Headline News
      .listing.first
        .headline
          Headline News Report
      .listing
        .headline
          Headline News Report
      .listing.last
        .headline
          Headline News Report

  .announcements
    .title.row
      .column.grid_12
        %h1 Game Announcements
    .listing.row
      .column.grid_12
        Listing
