#home.column.grid_12

  .row
    .lead.column.grid_12
      %p Let your imagination run wild in our interactive storytelling universe.
  .row
    .sublead.column.grid_12
      %p
        Wing Commander: New Horizon MUSH is a text-based storytelling/roleplaying community, <br />
        set in the Wing Commander video game universe. It's 100% free to play and easy to get started!<br />
        Check the <a href="/intro/">Introduction</a> for more information, read our other pages, and <a href="/play/">begin playing!</a>

  .row
    .events.column.grid_6
      %h2  Events
      .listing.first
        .wrap.when
          %span.month DEC
          %span.date 21
        .wrap.details
          .title
            %h3 Grand Opening
          .excerpt
            %p We're happy to announce that we'll be opening to new players on December 21st! We'll be running special kick-off spontaneous events all through until the New Year to help new players get settled into the game.
    /
      .reports.column.grid_6
        %h2 Headline News
        .listing.first
          .headline
            Headline News Report
        .listing
          .headline
            Headline News Report
        .listing.last
          .headline
            Headline News Report
