title: "Homepage"
META---
#home.column.grid_12
  .row
    .lead.column.grid_12
      %p Let your imagination run wild in our interactive storytelling universe.

  .row
    .sublead.column.grid_12
      %p
        Wing Commander: New Horizon MUSH is a text-based storytelling/roleplaying community, <br />
        set in the Wing Commander video game universe. It's 100% free to play and easy to get started!<br />
        Check the <a href="/intro/">Introduction</a> for more information, read our other pages, and <a href="/play/">begin playing!</a>

  .row
    .events.column.grid_6
      %h2  Events
      .listing.first
        .wrap.when
          %span.month JAN
          %span.date 26
        .wrap.details
          .title
            %h3 Mission TP
          .excerpt
            %p There will be a mission TP on Thursday, January 26 at 8pm EST.  Check the in-game bulletin boards for more info.
      .listing.last
        .wrap.when
          %span.month JAN
          %span.date 25
        .wrap.details
          .title
            %h3 Theme Updates
          .excerpt
            %p New thematic material has been published explaining the history behind the founding member corporations of the Enigma Sector Consortium.  Check out our pages on <a href="/orgs/esc/vsi">Von Sprechen Industries</a>, the <a href="/orgs/esc/gc">Guinterin Combine</a>, and the <a href="/orgs/esc/tr">Taffin Reclamation</a>!

    .reports.column.grid_6
      %h2 Headline News
      .listing.first
        .headline
          VSI Transport Hijacked
        %p We are receiving reports tonight of a trade vessel that was hijacked in the Epsilon system just a few hours ago. The ship was reportedly a Von Sprechen Industries contract vessel that was bound for Pembroke with a full load of supplies intended for the Pembroke Station reconstruction effort. The hijackers have not been identified, but Consortium security forces are blaming pirates. Investigators say that the heartless hijackers ejected the crew members into space while they were still alive. We'll bring you more details as they become available.
      .listing
        .headline
          Research Facility Uncovered
        %p We are receiving reports tonight of a hidden research facility of some sort that has been uncovered beneath the surface of Inferno. At approximately 2300 hours, a distress signal was received from an area of the planet previously thought to be uninhabited. A Guinterin Combine rescue transport recovered four survivors from the wreckage of the taxi that went missing several days ago. The survivors have not been named, but sources indicate that one was an employee of Eclipse Contracting, and one was a Kilrathi. Both Eclipse Contracting and the Kilrathi Commonwealth have declined to comment at this time.
      .listing
        .headline
          Inferno Shuttle Crash
        %p There are reports tonight of an intraplanetary transport crash on the planet of Inferno in the Pembroke System. The number of casualties is unknown, but the passenger manifest shows that the shuttle was carrying nearly a dozen passengers when it went down. Increasingly volatile lightning storms on the planet's surface have made it difficult to locate the crash site, but rescue teams are still searching. We'll bring you updates as they become available.
      .listing
        .headline
          Thwarted Hijacking
        %p We are receiving reports tonight that an attempted hijacking of a Consortium trade vessel in the Pembroke System has been thwarted. Sources say that the ship, laden with construction materials for the rebuilding of Pembroke Station, was hijacked en route by an unidentified group of pirates. However, shortly after the pirates took control of the ship, its engines failed, leaving them stranded until they were able to be apprehended by Consortium Security forces without incident. The entire episode has resulted in the pirate gang being labeled as the 'Blundering Brigands'. We'll bring you more as it develops.
      .listing
        .headline
          Damioyn Pirates Eliminated
        %p The Enigma Sector Consortium is pleased to announce that, as previously reported, the pirate collective operating out of Damioyn has been successfully quelled. As usual, the Consortium relied on the effective skills of highly-trained independent contractors to remove these criminals from their well-concealed, illegal outposts, and operations in the Damioyn system should resume normal levels immediately.
      .listing
        .headline
          Pembroke Station Revitalization
        %p A representative of the Enigma Board tonight announced that the Consortium will fund the revitalization of the historic Pembroke Station. The station was a heavily contested strategic stronghold during the Terran-Kilrathi war. It was nearly destroyed during a late offensive by the Kilrathi, and has remained uninhabitable in the years since. However, the Consortium now intends to refurbish the station. They say it will serve two purposes: As a security substation to combat the pirate problem that has plagued the outlying systems, and as a new hub for business and trade throughout the sector. The representative went on to say that that Consortium will soon begin offering contracts for the transport of materials needed for the reconstruction. We'll bring you further updates as they become available.
