title: "Homepage"
META---
#home.column.grid_12
  .row
    .lead.column.grid_12
      %p Let your imagination run wild in our interactive storytelling universe.

  .row
    .sublead.column.grid_12
      %p
        Wing Commander: New Horizon MUSH is a text-based storytelling/roleplaying community, <br />
        set in the Wing Commander video game universe. It's 100% free to play and easy to get started!<br />
        Check the <a href="/intro/">Introduction</a> for more information, read our other pages, and <a href="/play/">begin playing!</a>

  .row
    .events.column.grid_6
      %h2  Events
      .listing.first
        .wrap.when
          %span.month JAN
          %span.date 26
        .wrap.details
          .title
            %h3 Mission TP
          .excerpt
            %p There will be a mission TP on Thursday, January 26 at 8pm EST.  Check the in-game bulletin boards for more info.
      .listing
        .wrap.when
          %span.month JAN
          %span.date 25
        .wrap.details
          .title
            %h3 New Theme Material
          .excerpt
            %p New thematic material has been published explaining the history behind the founding member corporations of the Enigma Sector Consortium.  Check out our pages on <a href="/orgs/esc/vsi">Von Sprechen Industries</a>, the <a href="/orgs/esc/gc">Guinterin Combine</a>, and the <a href="/orgs/esc/tr">Taffin Reclamation</a>!
      .listing
        .wrap.when
          %span.month DEC
          %span.date 21
        .wrap.details
          .title
            %h3 Grand Opening
          .excerpt
            %p We're happy to announce that we'll be opening to new players on December 21st!
      .listing.last
        .wrap.when
          %span.month DEC
          %span.date 21-31
        .wrap.details
          .title
            %h3 Opening Events
          .excerpt
            %p We'll be running special kick-off spontaneous events all through until the New Year to help new players get settled into the game. This is a great time to kickstart your character's life in the Enigma Sector and hit the ground running!


    .reports.column.grid_6
      %h2 Headline News
      .listing.first
        .headline
          Research Facility Uncovered
        %p We are receiving reports tonight of a hidden research facility of some sort that has been uncovered beneath the surface of Inferno. At approximately 2300 hours, a distress signal was received from an area of the planet previously thought to be uninhabited. A Guinterin Combine rescue transport recovered four survivors from the wreckage of the taxi that went missing several days ago. The survivors have not been named, but sources indicate that one was an employee of Eclipse Contracting, and one was a Kilrathi. Both Eclipse Contracting and the Kilrathi Commonwealth have declined to comment at this time.
      .listing
        .headline
          Inferno Shuttle Crash
        %p There are reports tonight of an intraplanetary transport crash on the planet of Inferno in the Pembroke System. The number of casualties is unknown, but the passenger manifest shows that the shuttle was carrying nearly a dozen passengers when it went down. Increasingly volatile lightning storms on the planet's surface have made it difficult to locate the crash site, but rescue teams are still searching. We'll bring you updates as they become available.
      .listing
        .headline
          Thwarted Hijacking
        %p We are receiving reports tonight that an attempted hijacking of a Consortium trade vessel in the Pembroke System has been thwarted. Sources say that the ship, laden with construction materials for the rebuilding of Pembroke Station, was hijacked en route by an unidentified group of pirates. However, shortly after the pirates took control of the ship, its engines failed, leaving them stranded until they were able to be apprehended by Consortium Security forces without incident. The entire episode has resulted in the pirate gang being labeled as the 'Blundering Brigands'. We'll bring you more as it develops.
      .listing
        .headline
          Damioyn Pirates Eliminated
        %p The Enigma Sector Consortium is pleased to announce that, as previously reported, the pirate collective operating out of Damioyn has been successfully quelled. As usual, the Consortium relied on the effective skills of highly-trained independent contractors to remove these criminals from their well-concealed, illegal outposts, and operations in the Damioyn system should resume normal levels immediately.
      .listing
        .headline
          Pembroke Station Revitalization
        %p A representative of the Enigma Board tonight announced that the Consortium will fund the revitalization of the historic Pembroke Station. The station was a heavily contested strategic stronghold during the Terran-Kilrathi war. It was nearly destroyed during a late offensive by the Kilrathi, and has remained uninhabitable in the years since. However, the Consortium now intends to refurbish the station. They say it will serve two purposes: As a security substation to combat the pirate problem that has plagued the outlying systems, and as a new hub for business and trade throughout the sector. The representative went on to say that that Consortium will soon begin offering contracts for the transport of materials needed for the reconstruction. We'll bring you further updates as they become available.
      .listing
        .headline
          Murder on Sting
        %p A representative from the Guinterin Combine was murdered tonight while in attendance at the Monkey's Claw bar on Sting. Sources claim that the rep, Gordo Corelli, was offering Guinterin contracts to locals when he was ambushed by several youths who shot him down in cold blood. The Guinterin Combine has not released an official statement, but Consortium officials are reminding everyone of the danger of youth gangs on Sting.
      .listing
        .headline
          New Zurich Attack
        %p The tranquility of New Zurich was disrupted today when a lone gunman was able to bypass security procedures and transport a firearm onto the spaceport. The target of the gunman was the CEO of Brookings Developments based on Vespus. Although no one has claimed the attack statements made by the shooter would identify him as associated with the Free Enigma Movement, a fringe group of individuals against corporate profit. The shooter, who was killed by security following the attack, was identified as Peter Bolton. Security personnel are looking for any individuals with links to the attacks and information can be provided to Vespus Port Security.
      .listing
        .headline
          Assault on Damioyn Pirates
        %p Tachyon cannons pounded a recently discovered moon outpost in the Damioyn system today as Consortium forces eradicated what they claimed to be a pirate base. Though no journalists were allowed to photograph or film the area, audio files from eyewitnesses told the story of a brutal bombardment. Early warning radars and other scanners were the first targets, followed by power stations, docking bays, and communications arrays. There is no word at this time on the number of casualties, or if there were any survivors. Some reports say that torpedoes were launched from the north side of the moon during the assault, bringing down a Consortium cruiser, but a representative from the Enigma Board denies it and the report cannot be confirmed at this time. Pembroke Meteor Strike
      .listing
        .headline
          Pembroke Meteor Strike
        %p A meteor strike has disrupted mining operations on Pembroke A I. The meteor struck the surface above the subterranean mining hub of Inferno shortly before 0600 hours on Thursday morning. No casualties were reported, but several Revilite mining drills were severely damaged. A spokesman for the Guinterin Combine reported that there is currently no timeline for when the drills will be back on line. Guinterin Combine stock has dropped several points in response.
      .listing
        .headline
          Arrest Made in VSI Murder Case
        %p Law officers on Sting today announced a breakthrough in the case of the murdered Vice President of Marketing of Von Sprechen Industries, Korlo Irelli. Two men - one dead and one alive - were dropped off in front of the Governor's office along with a personal digital assistant containing a signed confession to the murder. Consortium security officials on Vespus are crediting several contracted militia soldiers with solving the case. "This is proof that our contract militia system is working," said a representative of the Enigma Board.
      .listing.last
        .headline
          Kilrathi Commonwealth Ship Bombed
        %p Commonwealth forces are reeling today as a command ship, the Golden Fang, was destroyed in geosynchronous orbit over Cabrea II. Comm traffic at the time of destruction suggests the Fang was destroyed by a hydrogen bomb hidden in a supply ship's cargo payload. The ship had a crew of several hundred, none of whom are expected to have made it to escape pods after the blast. A video uploaded from the surface of Cabrea II minutes later revealed human rights activist Raylin Konig. His statement was brief: "The Enigma Sector is a human sector. Go back to Kilrah."
