#home.column.grid_12

  .row
    .lead.column.grid_12
      %p Let your imagination run wild in our interactive storytelling universe.

  .row
    .sublead.column.grid_12
      %p
        Wing Commander: New Horizon MUSH is a text-based storytelling/roleplaying community, <br />
        set in the Wing Commander video game universe. It's 100% free to play and easy to get started!<br />
        Check the <a href="/intro/">Introduction</a> for more information, read our other pages, and <a href="/play/">begin playing!</a>

  .row
    .events.column.grid_6
      %h2  Events
      .listing.first
        .wrap.when
          %span.month DEC
          %span.date 21
        .wrap.details
          .title
            %h3 Grand Opening
          .excerpt
            %p We're happy to announce that we'll be opening to new players on December 21st!
      .listing.last
        .wrap.when
          %span.month DEC
          %span.date 21-31
        .wrap.details
          .title
            %h3 Opening Events
          .excerpt
            %p We'll be running special kick-off spontaneous events all through until the New Year to help new players get settled into the game. This is a great time to kickstart your character's life in the Enigma Sector and hit the ground running!


    .reports.column.grid_6
      %h2 Headline News
      .listing.first
        .headline
          Pembroke Meteor Strike
        %p
          A meteor strike has disrupted mining operations on Pembroke A I. The meteor struck the surface above the subterranean mining hub of Inferno shortly before 0600 hours on Thursday morning. No casualties were reported, but several Revilite mining drills were severely damaged. A spokesman for the Guinterin Combine reported that there is currently no timeline for when the drills will be back on line. Guinterin Combine stock has dropped several points in response.
      .listing
        .headline
          Arrest Made in VSI Murder Case
        %p
          Law officers on Sting today announced a breakthrough in the case of the murdered Vice President of Marketing of Von Sprechen Industries, Korlo Irelli. Two men - one dead and one alive - were dropped off in front of the Governor's office along with a personal digital assistant containing a signed confession to the murder. Consortium security officials on Vespus are crediting several contracted militia soldiers with solving the case. "This is proof that our contract militia system is working," said a representative of the Enigma Board.
      .listing.last
        .headline
          Kilrathi Commonwealth Ship Bombed
        %p Commonwealth forces are reeling today as a command ship, the Golden Fang, was destroyed in geosynchronous orbit over Cabrea II. Comm traffic at the time of destruction suggests the Fang was destroyed by a hydrogen bomb hidden in a supply ship's cargo payload. The ship had a crew of several hundred, none of whom are expected to have made it to escape pods after the blast. A video uploaded from the surface of Cabrea II minutes later revealed human rights activist Raylin Konig. His statement was brief: "The Enigma Sector is a human sector. Go back to Kilrah."
