#midgard.column.grid_12

  = render_partial 'partials/systems'

  .row
    .body.column.grid_9
      %h3 Midgard System
      %p Even by the galaxy's diverse standards, Midgard is a bizarre system. Three stars, almost 20 planetoids, and countless asteroids crowd this solar system. Two planets are inhabitable, Midgard B I and C III.

      %h3 Midgard B I
      %p This small, Earth-sized planet is primarily covered by oceans. There are some small landmasses but the planet seems to be curiously lifeless, and settlement attempts have been few and far between due to a lack of any discernible resources other than empty space.

      %h3 Midgard C III ("Sting")
      %p This planet, often referred to as "Sting" after its main city (such as it is), is notorious galaxy-wide, and not in a good way. Said simply, Sting is the place you go when you need things done that "the man" would prefer you didn't do. The planet was originally named for its dense jungle and seemingly unending collection of aggressive, poisonous, or otherwise irritating plants, animals, and insects. And, indeed, the local inhabitants seem to have taken on many of these characteristics. Beings from all species can be found on Midgard, doing business, mostly illegitimate. Along with the whole system, the planet is nominally under the control of the ESC, but the long arm of the law rarely reaches into the jungle bases of the various criminal enterprises, especially since the ESC has been known to employ them to do its dirty work when needed.

      %h4 Geography
      %p With little in the way of water masses and a dense, penetrating atmosphere, the majority of Sting's surface is covered in forest and jungle. The planet teems with life, much of it hazardous, but most of the sentient beings congregate into the main settlement and spaceport. The wildlife is ever-encroaching on the boundaries of the small city, but dedicated efforts by the locals generally keep things down. Legitimate tourism is rare, since any visiting ship bears a good chance of being seized by pirates, but the occasional well-defended executive hunting safari is not unheard of, especially as cover for a visit of more nefarious purposes.

      %p It's also an open secret that there are at least a dozen large criminal organizations operating off of Sting, with their bases easily concealed by the dense vegetation.

    .sidebar.column.grid_3
      %img{:src => '/images/vespus.jpg'}
      %table
        %tr
          %td.label Identifier:
          %td.data  Midgard C III (Sting)
        %tr
          %td.label
            Type:
          %td.data
            Terran
        %tr
          %td.label
            Gravity:
          %td.data
            1.03 Earth gees
        %tr
          %td.label
            Mass:
          %td.data
            1.702 Earth masses
