#pembroke.column.grid_12

  = render_partial 'partials/systems'

  .row
    .body.column.grid_9
      %h3 Pembroke System
      %p The Pembroke binary system was a continuous battlefield in the war, with possession of its two inhabitable planets continually contested. Near the end of the war, Pembroke Station was constructed by the Terran Confederation to attempt to provide a continuous foothold in the system. Years later, the station has fallen into near-total disrepair, with no active systems or life support, and the system has a new problem: rampant piracy and criminal activity.

      %h3 Pembroke B II & III
      %p These sparsely-inhabited planets have turned to self-isolation as a form of defense against system pirates; any ship arriving bears an extremely good chance of being shot at and both planets are officially regarded as off-limits to off-worlders by the ESC.

      %h3 Pembroke A I (Inferno)
      %p Pembroke A I is a heavy metal core world that orbits tightly around Pembroke A. Originally thought as nothing more than a worthless planetoid with no atmosphere and little to recommend it, the slow rotation of the planet has allowed underground mining operations to develop. With a planetary cycle of 1500 hours, construction was conducted to develop a mining colony that has been extremely productive in harvesting the heavy metals of the planet. However, the extreme heat of the star side in conjunction with extreme cold of the shadow side creates a small window of operations for surface work, requiring most of the mining actions to be conducted underground.

      %h4 History
      %p As the Enigma Sector Consortium spread through the system of Pembroke, the constant demands of raw materials led a group of endeavoring engineers to re-examine the world of Pembroke A I, or more commonly known as Inferno by the local miners. Due to the long day cycle, the engineers were able to use windows of moderate temperatures to develop a underground mining system that allowed for extraction of the heavy metals within the planet. Originally the mining colony was developed as a penal colony, but it soon attracted better-suited workers as the profits from the world proved to be worthwhile. Currently Inferno is considered to be one of the stronger sector producers of heavy metals.

      %h4 Locations
      %p Inferno - The name given to both the planet and the mining colony that is established underground. Ships that land on the surface may only do so while temperatures allow, otherwise they are required to dock within the planet through a series of difficult flight tunnels. The underground mining colony is sparse at best, but provides quarters, businesses, and even a small market for the miners and traders that conduct business. Due to its underground location it has also attracted a large number of seedier individuals and the occasional full-fledged pirate.



    .sidebar.column.grid_3
      %img{:src => '/images/vespus.jpg'}
      %table
        %tr
          %td.label Identifier:
          %td.data Pembroke A I (Inferno)
        %tr
          %td.label
            Type:
          %td.data
            Terran
        %tr
          %td.label
            Gravity:
          %td.data
            1.03 Earth gees
        %tr
          %td.label
            Mass:
          %td.data
            1.702 Earth masses
