.titlebar.row
  .column.grid_3
    %h1 Setting / Orgs
  .column.grid_9
    %ul.menu
      %li.first
        %a{:href => '/orgs/esc/'} Enigma Sector Consortium
      %li.last
        %a{:href => '/orgs/kc/'} Kilrathi Commonwealth
