.titlebar.row
  .column.grid_3
    %h1 Setting / Races
  .column.grid_9
    %ul.menu
      %li.first
        %a{:href => '/races/human/'} Human
      %li.last
        %a{:href => '/races/kilrathi/'} Kilrathi
