.titlebar.row
  .column.grid_3
    %h1 
      %a{:href => '/systems/'} Setting / Systems
  .column.grid_9
    %ul.menu
      %li.first
        %a{:href => '/systems/cabrea/'} Cabrea
      %li
        %a{:href => '/systems/midgard/'} Midgard
      %li
        %a{:href => '/systems/pembroke/'} Pembroke
      %li.last
        %a{:href => '/systems/vespus/'} Vespus
