.titlebar.row
  .column.grid_3
    %h1 Setting / Systems
  .column.grid_9
    %ul.menu
      %li.first
        %a{:href => '/systems/bistango/'} Bistango
      %li
        %a{:href => '/systems/cabrea/'} Cabrea
      %li
        %a{:href => '/systems/cardell/'} Cardell
      %li
        %a{:href => '/systems/granita/'} Granita
      %li
        %a{:href => '/systems/midgard/'} Midgard
      %li
        %a{:href => '/systems/pembroke/'} Pembroke
      %li
        %a{:href => '/systems/speardon/'} Speardon
      %li.last
        %a{:href => '/systems/vespus/'} Vespus
