title: "Kilrathi Commonwealth"
META---
#esc.column.grid_12
  = render_partial 'partials/orgs'
  .row
    .body.column.grid_9
      %h3 Kilrathi Commonwealth
      %p Born in 2712 out of the ashes of the Empire of Kilrah, the Kilrathi Commonwealth is not just a new Empire for a new, post-war era. Formed by the Sihkag, Hhallas, Ragitagha, Kurutak, and Ja'targk clans, and occupying a combination of their member Clans' ancestral hunting grounds and systems formerly conquered by the Empire, the Commonwealth has set forth a bold vision of a higher purpose for all Kilrathi: to renounce their warmaking and live peacefully among their former enemies.
      
      %p Such an audacious goal is not easy, especially when attempting to counter centuries of highly specialized evolution, purposeful selective breeding, and so on, and the Commonwealth is not a calm and well-governed entity. While sharp words have replaced sharp claws, the infighting at the higher levels of the Commonwealth's nominally-egalitarian leadership is as fierce, albeit subtle, as it ever was in the glory days of the Empire.
      
      %p The Enigma Sector capital of the Commonwealth is <a href="/systems/cabrea/">Cabrea II</a>, although Kilrathi can be seen throughout most of the Sector, as the <a href="/orgs/esc/">Enigma Sector Consortium</a>'s treaties with the Commonwealth include full visitation and open market access, extradition, and so on.
      
      %p The Commonwealth, as the nominal representation of the Kilrathi for the majority of the galaxy, embodies the struggle of the entire Kilrathi race itself to redefine its very essence and nature. Every slow bit of progress made at integrating into galactic society brings a new round of protests, terrorist attacks fueled by anti-Kilrathi humans (or, occasionally, anti-human Kilrathi), and general ill will, underwritten by a history of decades of war, violent slavery and oppression, and vicious attacks; on the other hand, the population of war veterans is ever decreasing as time marches onwards, and there are many Sector residents (of all races) who have never known the Empire's brutal claws.