#kilrathi.column.grid_12

  = render_partial 'partials/races'

  .row
    .body.column.grid_9
      %h1 Kilrathi
      %p= lorem.paragraph
      %p= lorem.paragraph
      %p= lorem.paragraph

    .sidebar.column.grid_3
      %img{:src => lorem.image('220x400', :background_color => '111', :color => 'fff')}
