#intro.column.grid_12

  .titlebar.row
    .column.grid_3
      %h1 Game / Intro
    .column.grid_9

  .row
    .body.column.grid_9
      %h3 Welcome to New Horizon
      %p= lorem.paragraph

      %h3 Interactive Storytelling
      %p= lorem.paragraph

      %h3 Simple, Yet Boundless
      %p= lorem.paragraph

    .sidebar.column.grid_3
      %p Sidebar
