#vespus.column.grid_12

  = render_partial 'partials/systems'

  .row
    .body.column.grid_4
      %h3 The Enigma Sector
      %p WC:NH is set in the Enigma Sector, a battleworn corner of the galaxy that was mostly left to its own devices after the war's conclusion.
      %p The active governments in the sector are the <a href="/orgs/esc">Enigma Sector Consortium</a> and the <a href="/orgs/kc">Kilrathi Commonwealth</a>; the governments have a fully reciprocal trade, diplomatic relations, and extradition treaty and have abided in peace.
      %p As a concession to playability, at our open, there are four systems with "built-out" planets: <a href="/systems/cabrea">Cabrea</a>, <a href="/systems/midgard">Midgard</a>, <a href="/systems/pembroke">Pembroke</a>, and <a href="/systems/vespus">Vespus</a>. As the game grows, we will build and populate our systems as needed.
      %p %center <img src="/images/systems-map.png" alt="Systems Map" />
  
