#human.column.grid_12

  = render_partial 'partials/races'

  .row
    .body.column.grid_9
      %h3 Humans
      %p After sixty years of war with the Kilrathi, the combined military strength of the human forces is a shadow of what it once was. While the Terran Confederation still nominally exists, and rules over the core worlds, their formerly-long reach now just lasts a few sectors, giving rise to sector-level governments, small alliances, and so on; in this era, even the Union of Border Worlds, once praised by most "fringe" galactic citizens as a safe-haven for their way of life, is seen as weak and unable to deliver on its promises of peace and prosperity to its members.

      %p The Humans in the Enigma Sector all are governed, whether they like it or not, by the <a href="/orgs/esc/">Enigma Sector Consortium</a>. Inhabitants of the sector make up not just Enigman natives, but also former members of the Terran Confederation, Union of Border Worlds, and even the Trans-Gemini Empire.

