%h2 Headline News
.listing.first
  .headline
    ESC Contract Awarded
  %p The Enigma Sector Consortium has tonight announced that the contract for the recovery and salvage of the derelict Kamekh corvette in Ross 34F has been awarded to a small startup organization based on Vespus. The organization, Simply Results, is a consulting firm that specializes in a wide variety of personnel management and security issues. Records show that the firm does not have much experience with ship salvage or engineering development. The Consortium must clearly have a great deal of faith in this group of newcomers if they're willing to award such a lucrative contract. 
  %p Other, larger corporations throughout the sector are not reacting favorably to this announcement. Our network has received a statement from one group, identified only as 'The Bureau', that promises retribution for what they claim is clearly rampant corruption in the ESC upper management. Meanwhile, allegations of bribery and blackmail are already being laid on the CEO of Simply Results, Diana Cabrera. We have made inquiries to Ms. Cabrera's office, but have not received a reply at this time. We'll bring you more details as they become available.
.listing
  .headline
    Sevrin Alerot Bounty Increased
  %p We interrupt your regular programming for a special message from Enigma Sector Coordinated Security. Good evening. I'm Cole Blackford, Director of Counter-Terrorism for CoordSec. I'm speaking to you tonight to share more information on the recent bombing of New Zurich spaceport. We now understand that the explosion was caused by explosives planted by an individual previously known to CoordSec, one Sevrin Alerot, also known as the Flying Dutchman. We are now increasing the bounty on Mr. Alerot from 100,000 to 250,000 credits. We are also extending a bounty of 25,000 credits for the capture of his shuttle, the Icarus, serial number 782.  As always, the Consortium expects all citizens with any information relating to this matter to come forward immediately via comm handle 'ESC Watcher'.
.listing
  .headline
    New Zurich Starport Bombing
  %p Good evening. I'm Stacey Beckner, and this is the morning news. Residents of New Zurich were startled out of bed this morning by a vicious attack on the spaceport of New Zurich by well-known terrorist Logan Kreyl. Kreyl was attempting to gain re-entry to the city, for purposes unknown, and appears to have bombed a small private transport, the Star of Taloo, also for purposes unknown. The three-man crew of the Taloo is confirmed dead at this time. Fortunately, elite Starport Authority forces were able to detain Logan, and he will face a full accounting for all of his crimes.
.listing
  .headline
    Damioyn Travel Advisory
  %p The Enigma Sector Consortium regrets to announce that the Damioyn system is once again suffering from occasional pirate activity, and is now under an official Travel Advisory. Mining activities are unfortunately being disrupted, and casual travelers and tourists are advised to avoid the system or travel armed. Consortium resources are currently being deployed to deal with this criminal uprising, and the system should be re-opened to regular commerce soon.
.listing
  .headline
    New Zurich Shooting
  %p We've just received reports of gunfire erupting in the New Zurich space port on Vespus. Accounts of the events leading up to the shootout vary, but all sources agree that three men brutally shot down several Consortium security guards in cold blood as they were trying to affect the lawful arrest of a criminal. The three shooters escaped onto their ships before the space port could be locked down, but security footage has identified them as Sevrin Alerot, Emmett Frost, and Logan Kreyl. These men are considered armed and dangerous. Anyone encountering them is urged to immediately contact the authorities. Furthermore, the Consortium is offering a bounty contract for each man in the amount of 100,000 credits. Contact 'ESC Watcher' via comms with any information.    
.listing
  .headline  
    McCall Industries Attack
  %p This just in. We're receiving reports of an attack on the headquarters of McCall Industries that just occurred about an hour ago. Sources say the attack was carried out by theJincilla Pirate Clan, but these reports are unconfirmed. McCall Industries is a mining conglomerate with headquarters on Inferno. Representatives from the company have not yet responded to inquiries about the attack. The Jincilla Pirate Clan is responsible for several raids on mining vessels in the Pembroke system over the last few weeks, but they've never been brazen enough to attack a corporate office before. This clear act of aggression is sure to draw the attention of Consortium security forces.  We'll have more for you as it becomes available.

