#nav.column.grid_6
  .row
    .column.grid_2
      %h2 The Game
      %ul
        %li
          %a{:href => '/pages/introduction/'} Introduction
        %li
          %a{:href => '/pages/faq/'} Frequent Questions
        %li
          %a{:href => '/pages/begin-playing/'} Begin Playing
    .column.grid_2
      %h2 The Setting
      %ul
        %li
          %a{:href => '/pages/inhabited-systems/'} Inhabited Systems
        %li
          %a{:href => '/pages/humans/'} Races
        %li
          %a{:href => '/pages/enigma-sector-consortium/'} Organizations
    .column.grid_2
      %h2 The Story
      %ul
        %li
          %a{:href => '/pages/origins/'} Origins
        %li
          %a{:href => '/pages/recent-history/'} Recent History
        %li
          %a{:href => '/pages/running-arcs/'} Running Arcs
