title: "Enigma Sector Consortium"
META---
#esc.column.grid_12
  = render_partial 'partials/orgs'
  .row
    .body.column.grid_9
      %h3 Enigma Sector Consortium

      %p The Enigma Sector Consortium is the nominal government of the majority of the Enigma Sector. A corporate-run oligarchy, the ESC governs loosely and at its own capitalistic whim; <a href="/systems/vespus/">Vespus I</a> is the crown jewel of the Enigma Sector, and its capital city, New Zurich, is a mecca of trade and industry. Every last credit is pumped into the corporate success of New Zurich and the continued high living standards of its citizens. This success comes at the expense of the surrounding worlds. The vast majority of people in the Enigma sector live hand-to-mouth, and many of them survive in barely hospitable conditions... but credits can buy any office, and today's peasant is tomorrow's high-ranking political official, once the right connections are made.
    
      %h4 Member Corporations
      %p
        %ul
          %li <a href="/orgs/esc/vsi">Von Sprechen Industries</a>
          %li Guinterin Combine
          %li Taffin Reclamation

      %h4 History
      %p Throughout the latter half of the 27th century, Vespus I was known as a popular resort world in the Enigma Sector. Those that could afford it enjoyed being pampered at some of the galaxy's finest spas and vacation getaways. Terran hero Colonel Christopher Blair and his lover Colonel Jeannette Devereaux vacationed there in 2669, shortly before Colonel Devereaux's capture and execution by Crown Prince Thrakhath nar Caxki. People boasted that the hot springs on Vespus could cure even the worst ailments. The terminally ill scraped together their entire life's savings just to enjoy the so-called miracle springs of Vespus. The resorts generated a fortune in profits, and this did not go unnoticed by the eternally greedy shareholders of several corporations. Eventually, it was discovered that there was more to the miraculous hot springs of Vespus than simple propaganda. A rare mineral hidden beneath the planet's surface was found to have cellular regenerative properties when exposed to certain atmospheric conditions. The hot springs of Vespus could truly heal the sick.

      %p In 2680, the CEOs of Taffin Reclamation, <a href="/orgs/esc/vsi">Von Sprechen Industries</a>, and the Guinterin Combine struck a deal. Together, they ponied up several hundred billion credits and purchased the entire planet of Vespus in the single largest real estate investment in human history. Their plan was to turn the planet into a factory. The rich could still travel there for glamorous vacations, but the opposite side of the planet would be industrialized with the sole purpose of harvesting the world's valuable mineral and processing it for consumers. When equally rich mineral veins were discovered on other planets in the Vespus System, the Enigma Sector rapidly transformed into a corporate headquarters for the galaxy's Big Three. But the bureaucrats of the Terran Confederation weren't happy with this state of affairs. They labeled the conglomeration a monopoly and said that they were seeking to profit from the illness of the less fortunate. The corporation chafed under increasingly severe regulations imposed by Confederation politicians.

      %p While most humans struggled to find a means of survival in the wake of the war, the corporate powerhouse in the Enigma Sector saw opportunity. For years they had suffered under the oppression of a liberal government that clearly wanted to stifle all industrial innovation. That government now existed only in name. There was barely anything left of the Confederation fleet; how could they possibly enforce their own laws? The jump point connecting Ella to Vespus had also been irreparably damaged during one of the last offensives, doubling the distance from Earth to Vespus and leaving little chance that a shattered Confed would spread itself even thinner just to bring a few corporations to heel. With its vast wealth and resources, the Enigma Sector had become the galaxy's most influential, corporate-controlled entity overnight.

      %p The CEOs of the Big Three decided that they could do it better. Government was a business, and the Terran Confederation had tried to run their business with politicians instead of businessmen. That's why they had failed, and that's why the Big Three would succeed. The Enigma Accords of2712 were signed, and the Enigma Sector Consortium was born.

      %p Tendrils of propaganda snaked throughout human-occupied space: Come to the Enigma Sector! Rebuild your life! Find your fortune! Millions answered the call, fully believing that salvation and a new way of life awaited them on the fringe worlds. The corporate rulers underestimated the response their call would generate. They didn't have the infrastructure to support this sudden explosion of citizenry. They were accustomed to accommodating a few hundred thousand employees, not hundreds of millions of settlers.  Other planets in the sector were quickly colonized by necessity. Some of them were less habitable than others, but beggars can't be choosers. Vespus I, the paradise world, was closed off to all outsiders. Only the rich and privileged were allowed to call it home.

      %p In 2725, the Consortium signed an agreement with the fragmented remnants of the Empire of Kilrah (now known as the <a href="/orgs/kc/">Kilrathi Commonwealth</a>). It was deemed profitable to trade and conduct business with the Kilrathi, much to the chagrin of many humans. In some places the two species live side by side without incident. In others, there is constant conflict as both sides seek to rebuild their lives in the wake of a war that is still fresh in many memories.
