#esc.column.grid_12

  = render_partial 'partials/orgs'

  .row
    .body.column.grid_9
      %h3 Enigma Sector Consortium
      %p= lorem.paragraph
      %p= lorem.paragraph
      %p= lorem.paragraph

    .sidebar.column.grid_3
      %img{:src => lorem.image('220x220', :background_color => '000', :color => 'fff')}
