-title_and_h1 @page.title

-if @sidebars.length > 0
  .column.grid_9.body=@page.to_html.html_safe
-else
  .column.grid_12.body=@page.to_html.html_safe

-if @sidebars.length
  .column.sidebar
    -@sidebars.each do |sidebar|
      .item
        %h3=sidebar.title
        .text=sidebar.to_html.html_safe

-if user_signed_in? && can_edit(@page)
  =link_to "Edit Page", admin_pages_edit_path(@page)
