title: "Taffin Reclamation"
META---
#esc.column.grid_12
  = render_partial 'partials/orgs'
  .row
    .body.column.grid_9
      %h3 Taffin Reclamation

      %p The Taffin Reclamation is one of the three founding member corporations of the Enigma Sector Consortium. The Reclamation is a media conglomerate that controls almost every major broadcasting source in the Enigma Sector. They own everything from nightly news to childrens' cartoons. As a result, anyone with a need for publicity must either do business with Taffin, or find some less legitimate (and often less effective) means of spreading their message.

      %p Taffin Reclamation, Inc. started out in 2665 as a salvage company based in a remote piece of Confederation Space. The founder, Hal Taffin, used the company as a fence for dealing in stolen ship parts that he acquired from small roving bands of pirates. Hal was the pirate that stole from other pirates, making him quite an unpopular fellow with his peers. However, because he was helping to control the pirate population in remote systems, the Confederation more often than not allowed him to operate with impunity.

      %p In 2671, Hal was found dead on the floor of a casino on the planet Hermes in the Hom system. Despite the fact that there were a half dozen security cameras within twenty feet of the body, and despite the fact that the medical examiner's report stated that Hal had been stabbed 13 times and shot twice, his death was ruled a suicide by Confederation investigators.

      %p Hal's company was left in the hands of a young but ambitious lieutenant named Royce Riffin. Royce wanted to make a lot of credits, but he also wanted to have a longer life expectancy than his former boss. So, after relentlessly studying market shares and portfolios, he liquidated everything that the Taffin Reclamation owned and invested in a startup broadcasting company that held the rights to an up and coming news station. That news station was the Confederation News Network.

      %p Within five years, the Taffin Reclamation was a media monopoly that owned half of every commercial broadcast in Confederation space, but Royce wanted more. He wanted to add Kilrathi citizens to his audience, effectively doubling his company's potential consumers. Confederation officials were not supportive. They accused Royce of attempted espionage and a host of other crimes. Politicians went so far as to enact legislation targetting Royce and preventing him from pursuing his goals. The bills were proposed under the guise of protecting human interests. Confed officials remained adamant even as they pursued a treaty with the Kilrathi in the early 2680s. The Taffin Reclamation was a sizeable corporation, but it couldn't take on the full might of the Confed government alone.

      %p Royce could see the writing on the wall. If the Confederation wasn't willing to trust the Kilrathi even as they pushed for a treaty, then any peace was sure to be short lived. The young CEO decided to pursue a different course of action in 2680  by going into business with Von Sprechen Industries and the Guinterin Combine. The other partners saw the purchase of Vespus I as purely a business venture, but Royce was more interested in the Enigma Sector as a whole. He wanted to turn the collection of systems into his own little slice of the galaxy where he could write his own laws beyond the reach of the Confederation. The purchase of Vespus was the first step in establishing the necessary infrastructure for his future fiefdom.

      %p Royce couldn't have planned the failure of the Terran-Kilrathi treaty better if he'd tried. The end of the war and the near-destruction of both the Kilrathi homeworld and the Confederation as a whole left Royce and his partners poised for success. It was Royce who proposed the Enigma Accords of 2712, and it was Royce who convinced the others that the only way to maintain control of the Enigma Sector was to cater to the discriminating tastes of their wealthiest supporters. A few years later, everything on Vespus I beyond New Zurich was officially closed to the public.

      %p Royce Riffin hasn't been seen or heard from since 2715. Some say that he retired and lives comfortably on his own private Vespus resort. Others claim that he was killed years ago by an ambitious young executive that wanted to take his place. The most popular rumor is that he continues to direct the Taffin Reclamation - and the Enigma Sector Consortium as a whole - from an undisclosed location somewhere far from Vespus. Whatever the truth might be, Royce's dream has finally been achieved. The Taffin Reclamation's stranglehold on media outlets throughout the Enigma Sector generates gigantic profits for its shareholders.

