#play.column.grid_12
  .titlebar.row
    .column.grid_3
      %h1 Game / Play
    .column.grid_9

  .row
    .body.column.grid_9
      %h3 Begin Playing
      %p Wing Commander: New Horizon MUSH is a text-based game that you play online with other people, all around the world. The game is always running and you can login at anytime.
      
      %p If you're an experienced MU*er, you can connect to the game via <strong>wcmush.com 2199</strong> (or 2299 for SSL). Brand new? Read on...
      
      %h4 Web Client
      %p If you are absolutely brand new to MUSHing, start off with our <a href="/client/" target="_blank">Flash-based web client</a>. This will connect you to the game and after a moment or two, you should see our connection screen.
      
      %h4 Connecting
      %p To play on the game, you'll need to eventually get a <strong>character</strong>, but if you're new, you can log in as a guest by typing in <strong>connect guest guest</strong> and check out the game, and talk using <strong>+help Hi there! I'm new.</strong> Check out the game, get a feel for our story and setting, and then when you're ready to make your character, you can get back to the connection screen by typing <strong>LOGOUT</strong>, and then use <strong>register "Bob Smith" my@email.com</strong>. In a few minutes you'll receive the password for your new character via email, and can login using <strong>connect "Bob Smith" mypassword</strong>. If you have any issues with the registration process, just pop back on as a guest and ask for help.

      %h4 Other Clients
      %p Once you get a bit of the hang of things, it's much more convenient to install a <strong>client</strong>, an application that can run on your desktop to connect you to the game.
      
      %p There are quite a few MUSH clients out there. Here are the ones we recommend:
      %p
        %ul
          %li For Windows: <a target="_blank" href="http://www.beipmu.com/">BeipMU - beipmu.com</a>
          %li For OS X: <a target="_blank" href="http://www.riverdark.net/atlantis/">Atlantis - riverdark.net</a>
          %li For Linux: <a target="_blank" href="http://tinyfugue.sourceforge.net/">TinyFugue - tinyfugue.sourceforge.net</a>
      
      %h4 BeipMU Configuration Walkthrough
      %p First, download and install the latest BeipMU from <a href="http://www.beipmu.com/" target="_blank">beipmu.com</a>. When you start the program, it should look like this:
      %p=image_tag "beipmu/1.png"
      %p Now go to the connection menu and select 'connect', or click the left most icon on the bar that looks like a plugged in cord.  This will bring up the connect screen:
      %p=image_tag "beipmu/2.png"
      %p We're going to create a new connection, so click the new button below then select Server.  A new entry will be created, and give you the space to change the name - you can just put in 'WCNH'. Once you've named it we'll configure it.  Click the newly created entry, and then fill out the info for it on the right.  Here's where you use the host name and port listed above.  Once you're done it should look like this (more or less):
      %p=image_tag "beipmu/3.png"
      %p Now you're ready to connect, so with the newly configured MUSH highlighted on the left, click the 'connect' button and you're off! See the <strong>'Connecting'</strong> section above for more information on what to do next.
      
