#intro.column.grid_12

  .titlebar.row
    .column.grid_3
      %h1 Game / Intro
    .column.grid_9

  .row
    .body.column.grid_9
      %h3 Welcome to New Horizon
      %p Wing Commander: New Horizon is a text-based interactive storytelling game & community, set in the Wing Commander universe created by Chris Roberts and Origin Systems. Essentially, we're an interactive story or novel where every character plays a part and has the chance to reshape history - sort of like a text-based MMORPG, except with a lot more freedom! In a world of graphical-based games and MMOs, we engage the highest resolution display system ever made: the player's imagination. Forget levels and classes, our game opens an entire universe's worth of character possibilities to every player, from the classic Wing Commander fighter jock, to a space marine, a business owner, engineer, trader and more.

      %p With over 50 years of combined role playing game experience, the staff of WC:NH endeavor to place fun and roleplay above everything else. Our systems are designed to facilitate player interaction, and provide only as much structure as necessary to keep things moving along. Our game owes much of its history to an older Wing Commander MUSH that closed its doors in 2002 called Red Horizon, and most of our staff were either players or staff there at one time or another. Our spiritual predecessor's history deviated slightly from the canon Wing Commander story line, and we continue that unique history with our own take on how things turned out 40 years after the end of the official Wing Commander universe. <a href="/pages/origins/">Check out our Story section</a> to find a timeline of events and learn more.

      %h3 Interactive Storytelling
      %p Have you ever wanted to be a character in your favorite novel or movie? In the universe of Wing Commander: New Horizon that's exactly what you get to do, become the hero (or maybe the villain!) in a larger story where your actions can change the course of events. This is the essence of interactive storytelling, where the players and their characters join with the storytellers to chronicle the events of our little corner of the Universe. We're driving the bus and you get to help decide where we're going!

