#origins.column.grid_12
  .titlebar.row
    .column.grid_3
      %h1 Story / Origins
    .column.grid_9

  .row
    .body.column.grid_9
      %h3 In The Beginning
      %p While we are set in the Wing Commander universe, our story was shaped by the players of Wing Commander: Red Horizon MUSH, and we diverge from the canon Wing Commander universe around the time of Wing Commander 3. In our universe, Kilrah was not destroyed by Christopher Blair, although it was heavily irradiated by a Confederation attack. 
      
      %p Since our game is set almost 40 years after the time that Red Horizon was at when it closed, we have a <a href="/pages/recent-history/">Recent History page</a> that sets up a timeline that covers the final days of Red Horizon to the present day; for a very comprehensive previous history, see <a href="http://www.wcnews.com/encyclopedia/timeline.php">the Wing Commander CIC's timeline</a>.
