#origins.column.grid_12
  .titlebar.row
    .column.grid_3
      %h1 Story / Recent History
    .column.grid_9

  .row
    .body.column.grid_9
      %h3 Timeline
      %p See our <a href="/pages/origins/">Origins</a> page for information on history prior to this timeline.
    
      %p <strong>2654</strong>: Cabrea II is captured by the Kilrathi due to its ore resources and large savannah hunting grounds. Following the capture of the world, led primarily by the Caxki Clan, it becomes a backwater world for the Empire. Many Sihkags end up settling on Cabrea II due to its economic value.

      %p <strong>2663</strong>: A sect of Sivar Priestesses discover ancient writings on Cabrea II, claiming it as a 'Refuge of Sivar' and establishing a permanent temple in the mountain regions quite a distance from the main city on the far side of the world.

      %p <strong>2669</strong>: Cabrea II is famously liberated from Kilrathi control by the Terrans. The liberation broadcast is interrupted due to the fear that images from Cabrea II will demoralize the Terran Confederation.

      %p <strong>2672</strong>: A task force led by Sihkag and Ja'targk forces retake Cabrea II from the Terrans and reestablish the settlement. Less brutal than the previous Caxki forces they show a bit more tolerance towards the Terran slaves. The Ja'targk move to the far side of the world and their temple leaving the primary city to the Sihkag. Cabrea II becomes staging ground for claiming Kilrathi territories in sector.

      %p <strong>2680</strong>: Vespus I is purchased jointly by the Taffin Reclamation, Von Sprechen Industries, and the Guinterin Combine, otherwise known as the Big Three.

      %p <strong>2682</strong>: Veins of the mineral Revilite are discovered on other planets in the Vespus system. Several of the worlds are industrialized. Revilify hits the markets. The Big Three report record profits.

      %p <strong>2682</strong>: The Terran Confederation and the Empire of Kilrah sign a treaty, forming a joint task force with the purpose of combating the Nephilim.

      %p <strong>2682</strong>: Cabrea II's slave population is set free and allowed to return to Terran space. Many do and rejoin the Confederation, although some remain on Cabrea II, having become dependent on the only thing they've ever known: Kilrathi rule.

      %p <strong>2683</strong>: The Terran Confederation imposes increasingly strict trade regulations on the Big Three.

      %p <strong>2683</strong>: The Nephilim are defeated by the combined Kilrathi-Terran Joint Task Force.

      %p <strong>2684</strong>: The Kilrathi launch a surprise attack on Landreich, effectively ending any treaty with the humans. The Terran Confederation and the Union of Border Worlds retaliate. The Battle of Kilrah occurs over several days. The battle culminates when a Paradigm Corvette crashes into the Temple of Sivar, detonating its reactors and exposing the entire planet to high levels of radiation. Kilrah is left uninhabitable.

      %p <strong>2684</strong>: Baron Som'mers and clan leaders mysteriously vanish hours before the destruction of Kilrah. Many clan leaders and religious leaders are killed in the attack on Kilrah, devastating the Kilrathi population and scattering the clans.

      %p <strong>2684</strong>: Both the Kilrathi and Terran Confederation military forces are crippled during the Battle of Kilrah. Trillions die. The Union of Border Worlds retreats to its own systems and isolates itself.

      %p <strong>2685</strong>: The Terran Confederation begins to lose control of its fringe systems without a fleet capable of enforcing its laws. A number of independent revolutions occur. 

      %p <strong>2685</strong>: With the break down of the Imperial rule, Kilrathi clans revert back to inter-clan rivalries with skirmishes and wars diminishing what little remains of the Kilrathi military. The lack of Priestesses leads to an overwhelming sense of abandonment from Sivar and mass depression among the Kilrathi.

      %p <strong>2689</strong>: Several large pirate gangs rise up and take control of systems that used to belong to the Terran Confederation.

      %p <strong>2689-2710</strong>: The galaxy becomes an increasingly lawless place. The Terran Confederation lacks the resources to restore order to its once vast holdings. The Union of Border Worlds maintains peace in its own sectors, but refuses to take in the billions of refugees left over from the end of the war. They effectively cut themselves off from the rest of the galaxy.

      %p <strong>2712</strong>: The Enigma Accords are signed by the Big Three, and the Enigma Sector Consortium is born.

      %p <strong>2712</strong>: As skirmishes dominate Kilrathi space, the areas around Cabrea and the sector reflect relative stability due to the dominance of the Sihkag who were least affected by the end of the War and destruction of Kilrah. Many of other clans begin to migrate towards Cabrea with the intent of establishing a new existence separate from the Empire. Eventually the Kilrathi Commonwealth is established; much to the anger of the Imperial remains. The clans begin to divide along the lines of Imperial loyalists and those looking to move forward with existence.

      %p <strong>2713</strong>: Millions flock to the Enigma Sector with dreams of rebuilding their lives. The Consortium's limited infrastructure is quickly overwhelmed. Other planets and systems in the sector are quickly colonized by necessity, but there is very little oversight or rule of law. Most people live hand to mouth.

      %p <strong>2716</strong>: Vespus I becomes an exclusive resort reserved for the most powerful corporate leaders of the Enigma Sector Consortium. Non-residents are no longer allowed anywhere on the planet except for the capital city of New Zurich.

      %p <strong>2724</strong>: Despite its shortcomings, the Enigma Sector Consortium has become the premiere government for humans. There is no official relationship between the ESC, the UBW, and the TC. However, many so-called citizens of the ESC are dissatisfied with the government's practice of catering to the most influential corporate leaders while the masses suffer in poverty. It becomes increasingly difficult for the ESC to maintain order on those worlds that are near the edges of the sector. The ESC begins to offer contracts to private citizens in an attempt to build a corporate militia.

      %p <strong>2725</strong>: Several skirmishes with the Kilrathi loyalists lead the Commonwealth to seek protection. Some clans and clan members, weary of internal conflict without purpose, glory, or honor for Sivar join the commonwealth. Most often found are members from the Sihkag, Hhallas, and Kurutak clans although the occasional other clan member may be present but usually at disowning of their full clan. Without the support of the loyalists who maintained most of the military strength, the Commonwealth seeks an ally against piracy and finds it in the Enigma Sector Consortium.

      %p <strong>2725</strong>: The leaders of the Enigma Sector Consortium sign a trade agreement with the Kilrathi Commonwealth. Some humans accept the alliance with their former enemies, but many do not. The Kilrathi are treated as second class citizens on many worlds. Conflict between the two species is a regular occurrence in areas of the Enigma Sector where the Consortium is unable to maintain a police presence.

      %p <strong>2730</strong>: Present day.
