#play.column.grid_12

  .titlebar.row
    .column.grid_3
      %h1 
        %a{:href => '/pages/running-arcs'} Story Arcs
    .column.grid_9
      %ul.menu
        %li.first
          %a{:href => '/pages/wanted/'} Wanted

  .row
    .body.column.grid_9
      %h3 Kamekh Salvage
      %p The recent discovery of a derelict Kamekh-class corvette in the Ross 34F system has led to a frenzy of contract bidding as corporations throughout the sector fight for exclusive salvage rights.  The winning organization will own the first Kamekh corvette to be seen since the fall of the Kilrathi Empire.  Furthermore, the Consortium has promised a lucrative arrangement that will benefit the adaption of the Kamekh's tech for mass production throughout the Enigma Sector.  Representatives of interested organizations should send a comm message to 'ECS Watcher' with a list of qualifications.

      %h3 Reconstruction of Pembroke Station
      %p A representative of the Enigma Board tonight announced that the Consortium will fund the revitalization of the historic Pembroke Station. The station was a heavily contested strategic stronghold during the Terran-Kilrathi war. It was nearly destroyed during a late offensive by the Kilrathi, and has remained uninhabitable in the years since. However, the Consortium now intends to refurbish the station. They say it will serve two purposes: As a security substation to combat the pirate problem that has plagued the outlying systems, and as a new hub for business and trade throughout the sector. The representative went on to say that that Consortium will soon begin offering contracts for the transport of materials needed for the reconstruction.
              
  .row

