#play.column.grid_12

  .titlebar.row
    .column.grid_3
      %h1 Story Arcs
    .column.grid_9

  .row
    .body.column.grid_9
      %h3 Reconstruction of Pembroke Station
      %p A representative of the Enigma Board tonight announced that the Consortium will fund the revitalization of the historic Pembroke Station. The station was a heavily contested strategic stronghold during the Terran-Kilrathi war. It was nearly destroyed during a late offensive by the Kilrathi, and has remained uninhabitable in the years since. However, the Consortium now intends to refurbish the station. They say it will serve two purposes: As a security substation to combat the pirate problem that has plagued the outlying systems, and as a new hub for business and trade throughout the sector. The representative went on to say that that Consortium will soon begin offering contracts for the transport of materials needed for the reconstruction.

      %h3 WANTED: Task Force
      %p An anonymous benefactor seeks the aid of private citizens with expertise in a wide variety of areas who are interested in fulfilling a lucrative contract. Applicants with training in hand-to-hand combat, firearms, medicine, or information security systems are highly desired. Further details will be provided once a contract is signed. Interested parties should send a comm message to 'Obscurity'.

      %h3 WANTED: Ship Crew
      %p An anonymous contractor seeks the services of several private citizens who are capable of crewing a trade vessel on an important mission. Skilled pilots, navigators, and engineers are highly desired, as are individuals with training in zero-g operations or computer security systems. Further details will be provided upon agreement to the terms. Interested parties should send a comm message to 'Chartreuse'.
              
  .row

