#esc.column.grid_12
  .titlebar.row
    .column.grid_3
      %h1 Setting / Orgs
    .column.grid_9
      %ul.menu
        %li.first
          %a{:href => '/pages/enigma-sector-consortium/'} Enigma Sector Consortium
        %li.last
          %a{:href => '/pages/kilrathi-commonwealth/'} Kilrathi Commonwealth
  .row
    .body.column.grid_9
      %h3 Von Sprechen Industries

      %p Von Sprechen Industries, or VSI for short, is one of the founding member corporations of the <a href="/pages/enigma-sector-consortium/">Enigma Sector Consortium</a>. The company was originally founded in 2630 as a small, family-owned trade firm. When the Terran-Kilrathi war broke out just a few years later, the Von Sprechen family was perfectly poised to become the single largest holder of arms transport contracts for the Terran Confederation.

      %p As the war dragged on, VSI profits were a direct reflection of an increasingly volatile conflict. More death meant larger profit margins, and the company shareholders wanted more. Anti-war protests and harsh media criticism couldn't make a dent in the billions of credits that the company was showing in quarterly profits. In 2665, VSI began to purchase large tracts of land on various fringe worlds throughout Confederation space, including in the Enigma Sector. The land was cheap because of the distance from the core worlds, but it was perfect for VSI purposes. The company built massive factories, and within a few years they had established a manufacturing operation that held sizable shares in a half dozen markets. Many of these factories did irreversible environmental damage to the worlds they were built on, but VSI had the funds and the political influence to sweep any problems neatly under the rug.

      %p VSI's public success and influence was used to mask the internal struggles that plagued the company throughout the 2660's. Fredrich Von Sprechen III, the CEO and founder of VSI, was in his 80's and in desperate need of an heir to his meticulously constructed empire. Fredrich had two sons, but neither of them were suitable candidates for the passing of the torch. The elder son, Fredrich IV, sought to distance himself from his family because of their history of making war into a business. He established a small law firm with the goal of holding corrupt politicians and businessmen like his own father responsible for what he claimed were war crimes. The younger son, Karl, was a widely known playboy and partier, and was a total embarrassment to the family. Whether unable or unwilling, Karl took no interest in any part of his father's business, and seemed content to live on a generous trust fund.

      %p By 2675, Fredrich Von Sprechen IV had become a prominent political figure in a Confederation full of citizens that were growing tired of a 40-year long war. His righteous crusade against corruption had become a full fledged movement. There were rumors of a possible presidential bid, but the dream was cut short in 2678 by Fredrich's sudden and violent assassination during a public appearance. Millions mourned, but his death galvanized the anti-war movement and laid the groundwork for the eventual treaty between the Terran Confederation and the Kilrathi Empire that was signed in 2682. Unfortunately, the treaty was short-lived.

      %p Two years after the assassination, Von Sprechen Industries purchased the planet of Vespus I in a collective venture with the Guinterin Combine and the Taffin Reclamation. It was unusual for three large companies to suddenly find the common ground needed to reach an agreement of that magnitude, but no one had any legitimate reason to stop the merger. The unanswered questions were all but forgotten as the war came to a culmination in 2684 with the destruction of Kilrah. Meanwhile, the line of succession within VSI stabilized. Karl Von Sprechen, former playboy, suddenly seemed to find the inner discipline needed to settle down and learn his father's business. No one questioned the rapid personality change of the sole surviving Von Sprechen heir, and it was attributed simply to newfound maturity. Fredrich Von Sprechen's legacy was secure.

      %p Von Sprechen Industries has continued to thrive in the Enigma Sector in the years since. Karl Von Sprechen is now the aging CEO that his father once was, but little else has changed. VSI is still a company that deals primarily in weapons and war supplies manufacturing. Some have questioned how the company has maintained its record profits year after year when the scale of the average conflict has shrunk significantly since the days of the Terran-Kilrathi war, but those questions are usually asked quietly and rarely in public.
 
