#vespus.column.grid_12

  = render_partial 'partials/systems'

  .row
    .body.column.grid_9
      %h3 Vespus
      %p Vespus I is the de facto capital planet of the Enigma Sector. It has been the corporate headquarters for the Democratic Republic of Enigma since its founding in 2727. It is the only planet in the Vespus system that is specifically designed to be habitable. While the rest of the colonized worlds in the Vespus system are little more than platforms for mineral harvesting and processing, Vespus I is known for its gorgeous vistas and galaxy class resorts. It is a paradise world, but only the richest and most powerful citizens of the Enigma Sector have ever seen its true beauty. For the last three years, all territory beyond the star port has been closed to non-residents. The people who live on Vespus I enjoy a standard of living that is far beyond the comprehension of average citizens.
      %p New Zurich is the capital of Vespus I, and it's also the only part of the planet that non-residents are allowed to access. The city is the center of all commercial activity on the planet, and in many ways it is the corporate headquarters for the entire Enigma Sector. Every major commercial entity has offices on the corporate level of New Zurich. The city itself is a circular superstructure approximately 1,000 miles in diameter that was originally built on an island. There's little room for outward expansion because of this, so the city has been built upwards on a series of levels. The upper most level is a gigantic space port that can easily accommodate any number of the largest mercantile craft in the galaxy. The lower levels streets and walkways arranged in a series of large rings. Public taxis and hundreds of elevators shuttle people everywhere. At any one time there are thousands of ships in dock, and hundreds of thousands of people swarming the streets of New Zurich. Despite this, it is a remarkably clean city. Corporate leaders ensure that New Zurich serves as a shining example of all that their government has to offer, even while other cities on other worlds suffer.

      %h4 Geography
      %p The massive New Zurich is the only part of the entire planet that is open to the public. Beyond the star port, all signs of commercialism are replaced by the peaceful tranquility of a world that can truly be called a paradise. Only the residents can truly describe its beauty, but everyone knows that the government executives spare no expense to keep the citizens of Vespus I happy. Rumor has it that several species of animals thought to be long extinct can be seen roaming freely through the countryside on the far side of the planet.

      %h4 Security
      %p Vespus I is one of the only places in the entire sector that can truthfully claim to have an adequate police force. Corporate security guards are paid well to make sure that the riffraff stay away from where they don't belong, and - most importantly - to make sure that nothing interrupts the business that is conducted in the bustling star port at all hours of the day and night. People who make disturbances in public on Vespus I have been known to rapidly disappear, never to be seen again.

      %h4 History
      %p Vespus I was a recognized tourist destination in the 26th century known for its beautiful coasts. It maintained a fairly high Terran population year round, but most inhabitants were only there on vacation. In 2669, Terran hero Colonel Christopher Blair and his lover, Colonel Jeannette Devereaux, vacationed there shortly before Colonel Devereaux's capture and execution at the hands of Crown Prince Thrakhath nar Kiranka. Later that same year, Vespus I became the final resting place of the TCS Concordia when it was destroyed by the Kilrathi during routine patrols in the Enigma Sector. The Concordia's final resting place is in the sea just off the planet's famed Mistal Coast.
      %p Resorts and spas were a large part of the tourist attraction on Vespus I, but it was the planet's hot springs that ultimately determined its fate. Rumors spread for years that the Vespus springs had the ability to cure any ailment, and people willing to believe it eagerly spent their life's savings to journey from the furthest reaches of the occupied galaxy. In the late 26th century, this apparent propaganda turned truth when a rare mineral, Revilite, was discovered beneath the surface of the planet. The Revilite, exposed to subsurface pressures and the unique atmospheric conditions of Vespus for centuries, produced cellular regenerative compounds that had leaked into the hot springs through ground water. With repeated exposure over a long period of time, the hot springs of Vespus succeeded where modern medicine had failed in curing the most debilitating illnesses.
      %p Several corporations immediately jumped on the opportunity to turn a miracle into profit. In the single largest real estate investment in Terran history, the rights to the planet were ultimately purchased jointly for several hundred billion credits by three companies: The Taffin Reclamation, Von Sprechen Industries, and the Guinterin Combine. Initially, they planned to industrialize the majority of the planet, leaving only a small portion of the former resort. This proved unnecessary when, soon after, it was discovered that several other planets in the Vespus system had equally rich veins of Revilite hidden beneath the surface. Most of those worlds did not have the same favorable atmospheric conditions that Vespus I enjoyed, making them natural choices for industrial mining platforms.
      %p In the years that followed, the Big Three corporations turned record profits while simultaneously chaffing under increasingly strict commercial regulations imposed by the Terran Confederation. The government wanted the Big Three to provide what was seen as a life-saving resource to the citizens who needed it most. For free. When the Confederation was decimated at the end of the Terran-Kilrathi war, the corporations saw an opportunity to cast off the chains of bureaucratic oppression. Several jump points had been severed during the conflict, leaving little chance that the surviving Confederate fleet would send any of its scant ships on the long journey to enforce Confed laws in the now distant Enigma Sector. The Big Three decided that they could do things much more efficiently than the politicians of the Terran Confederation. In 2727, the Enigma Accords were signed and the first corporate based government was born.
      %p The corporate leaders were initially pleased to allow the propaganda to spread about their new government: Come to the Enigma Sector! Rebuild your lives! Find your fortune! Millions flocked to the banner, and the Republic was caught unprepared. The settlements on Vespus I were only designed to accommodate a few hundred thousand corporate employees. Now, millions of refugees and their families were scrabbling for a piece of this promised prosperity. Planets in nearby systems much less favorable than Vespus I were quickly colonized by necessity. Overwhelmed government leaders could do nothing to meet even the most basic needs of their new citizens.
      %p The government executives turned their attention inwards, toward Vespus I. They reasoned that if they could keep the richest, most powerful business leaders and CEOs happy, then they could use their combined influence to control the rest of the population. The riffraff. The entire planet of Vespus I was made into an executive suite. All territories beyond the commercial space port were closed to non-residents. Owning a home on Vespus I became the most important indicator of who held power in the Enigma Sector.
      %p For the select few who are lucky enough to live there, Vespus I is mostly unchanged from the beautiful tourist attraction that it was some 150 years ago. The vast majority of the Enigma Sector's citizens wouldn't know that, however. They've never been allowed to lay eyes on the legendary Mistal Coast, or pay homage to the last known resting place of the historic TCS Concordia. The planet is little more than a symbol of elitism to them.

    .sidebar.column.grid_3
      %img{:src => '/images/vespus.jpg'}
      %table
        %tr
          %td.label
            Type:
          %td.data
            Terran
        %tr
          %td.label
            Gravity:
          %td.data
            1.03 Earth gees
        %tr
          %td.label
            Mass:
          %td.data
            1.702 Earth masses
