!!! Strict
%html
  %head
    %title Wing Commander: New Horizon
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/style.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => 'http://fonts.googleapis.com/css?family=Ubuntu+Condensed|Terminal+Dosis:400,600'}
  %body
    %img{:id => 'bg', :src => '/images/bg.jpg'}

    #header.row
      .logo.column.grid_6
        %a{:href => '/'}
          %img{:src => "/images/logo.png"}
      #nav.column.grid_6
        .row
          .column.grid_2
            %h2 The Game
            %ul
              %li
                %a{:href => '/intro/'} Introduction
              %li
                %a{:href => '/faq/'} Frequent Questions
              %li
                %a{:href => '/play/'} Begin Playing
          .column.grid_2
            %h2 The Setting
            %ul
              %li
                %a{:href => '/systems/'} Inhabited Systems
              %li
                %a{:href => '/races/human/'} Races
              %li
                %a{:href => '/orgs/esc/'} Organizations
          .column.grid_2
            %h2 The Story
            %ul
              %li
                %a{:href => '/origins/'} Origins
              %li
                %a{:href => '/recent/'} Recent History
              %li
                %a{:href => '/arcs/'} Running Arcs

    #page.row
      = yield

    #footer.row
      .column.grid_12
        %p
          <a href="https://www.facebook.com/wcmush" target="_blank"><img src="/images/social/facebook.png" alt="Facebook" /></a>
          <a href="https://twitter.com/wcmush" target="_blank"><img src="/images/social/twitter.png" alt="Twitter" /></a>
          
          
        %p All content Copyright &copy; 2011 Wing Commander: New Horizon MUSH unless prior copyright ownership exists. Design by <a href="http://www.capelio.com" target="_blank">Capelio</a>.
  <script type="text/javascript">var clicky_site_ids = clicky_site_ids || [];clicky_site_ids.push(66499509);(function() {var s = document.createElement('script');s.type = 'text/javascript';s.async = true;s.src = '//static.getclicky.com/js';( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );})();</script>
