title: "Begin Playing"
META---
#play.column.grid_12
  .titlebar.row
    .column.grid_3
      %h1 Game / Play
    .column.grid_9

  .row
    .body.column.grid_9
      %h3 Begin Playing
      %p Our official opening date is <strong>December 21st</strong>; check back then for more information!
