#play.column.grid_12

  .titlebar.row
    .column.grid_3
      %h1 Game / Play
    .column.grid_9

  .row
    .body.column.grid_9
      %h1 Begin Playing
      %p= lorem.paragraph

    .sidebar.column.grid_3
