title: "Story Arcs"
META---
#play.column.grid_12

  .titlebar.row
    .column.grid_3
      %h1 Story Arcs
    .column.grid_9

  .row
    .body.column.grid_9
      %h3 Current Story Arcs
      %p Until the new year, we'll be running a series of short, "one-off" style stories to help get new players integrated into the game and comfortable with our setting and systems. Check back in January for information on our first over-arching plot arc.