#faq.column.grid_12

  .titlebar.row
    .column.grid_3
      %h1 Game / F.A.Q.
    .column.grid_9

  .row
    .body.column.grid_9
      %h3 What type of game is New Horizon?
      %p From a player's perspective, NH is a text-based interactive storytelling game, similar to a tabletop RPG but on a larger, 24x7 scale. On the back-end, WC:NH is built using the popular <a href="http://www.pennmush.org/">PennMUSH</a> platform for text-based gaming, with several layers of custom code and implementation on top. 

      %h3 How do I join in?
      %p Check out our <a href="/play">Begin Playing</a> page to get started!
      
      %h3 What are some common terms/abbreviations?
      %p MUSHing has its own lingo like any other hobby. Here are some terms you might run into right away:
      %p 
        %ul
          %li <strong>IC</strong>: In Character - referring to actions your character might take.
          %li <strong>OOC</strong>: Out of Character - referring to actions that you, the human player sitting at a keyboard, take.
          %li <strong>Guide</strong>: Experienced players who are here to help get you settled as a new player. 
        
      %h3 Do you have feature characters? Can I be Blair or Thrakhath?
      %p No, we don't have any feature characters (characters that are mentioned in the WC games, novels, etc that are playable). Among many other reasons, our timeline is far enough in the future that the vast majority of these characters would be long dead! Historical figures will be referenced often, however.
      
      %h3 What coded systems do you have?
      %p At the time of this writing, the game itself is still in beta, and we're asking for our players to help us spot bugs and find issues so we can fix them. In the long-term, we will have a custom combat, economy, and space system; for now we have chargen (a custom system, based on the FUDGE tabletop system) and a simple space system to allow people to get around. Our overall goal with systems is always to find ways to emphasize and drive RP, not replace it, and to prioritize IC skill and ability over OOC.

    .sidebar.column.grid_3
      %p Sidebar
