#faq.column.grid_12

  .titlebar.row
    .column.grid_3
      %h1 Game / F.A.Q.
    .column.grid_9

  .row
    .body.column.grid_9
      %h1 What type of game is New Horizon?
      %p= lorem.paragraph

      %h1 What is a MUSH?
      %p= lorem.paragraph

      %h1 How do I play?
      %p= lorem.paragraph

    .sidebar.column.grid_3
      %p Sidebar
